/*-------------------------------------------------------
16. Feedback css 
---------------------------------------------------------*/



.feed-box {
    text-align: center;
	.feed-bio {
		.feed-name {
			margin-top: 5px;	
			h5 {
				font-size: 2rem;
				line-height: 1;
				margin-bottom: 1rem;
			}
			span {
				display: block;
				font-size: 1.4rem;
				line-height: 1;
			}
		}
	}
	p {
		line-height: 3rem;
		font-family: var(--font-3);
		font-size: 1.6rem;
		padding: 0 30rem;
	}
}

//Owl Carousel

.feed-sldr.owl-theme .owl-nav [class*=owl-] {
    color:var(--clr-black);
	width: 54px;
	height: 54px;
	line-height: 54px;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
	border: 2px solid var(--clr-white);
	box-shadow: 0px 5px 20px 0px rgba(243, 243, 243, 1);
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: var(--clr-def);
    color: var(--clr-white);
    text-decoration: none;
}

.feed-sldr.owl-theme .owl-nav .owl-prev {
	left: 5rem;
}

.feed-sldr.owl-theme .owl-nav .owl-next {
	right: 5rem;
}

.feed-sldr.owl-theme .owl-nav .owl-prev,
.feed-sldr.owl-theme .owl-nav .owl-next {
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}

.owl-carousel .owl-item img {
    display: block;
    width: inherit;
	margin: 0 auto;
}

//Home 2

.feed-qoute {
	margin-bottom: 3rem;
	i {
		font-size: 48px;
		color: var(--clr-bg);
		display: inline-block;
	}
}

