    
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--clr-heading: #111135;
	--clr-body: #565656;
	--clr-bg: #f3f3f3;
	--clr-def: #ff508e;
	--clr-def-2: #d450ff;
	--clr-ftr: #070E27;
	--clr-ftr-2: #666666;
	--clr-ftr-3: #323232;
	--clr-white: #fff;
	--clr-black: #000;
	--font-1: 'Lato', sans-serif;
	--font-2: 'Montserrat', sans-serif;
	--font-3: 'Arimo', sans-serif;
	--rad-1: 4px;
}
	

